<!-- views/partials/navcc.ejs -->
<header class="header_area">
  <nav
    class="navbar navbar-expand-lg navbar-light navbar-margin"
  >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand logo_h" href="home"
        ><img src="../../image/Logo.png" alt="" width="175" height="40"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse offset"
        id="navbarSupportedContent"
      >
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mission">Our Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="frequently-asked-questions">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="staff">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="our-partners">Partners</a>
          </li>
          <li class="nav-item submenu dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Classroom</a
            >
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="../classroom/cc/crash-course">Crash Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../classroom/ac/advanced-concepts"
                  >Advanced</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../classroom/ml/machine-learning"
                  >Machine Learning</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login"
                  >Web Developement</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="resources">Resources</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
