<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <section class="event_details_area section_gap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 event_details">
                <h2 class="res_eve_des welcome-message">
                  Welcome to Advanced Concepts in Python!
                </h2>
                <h4 class="grey-date">June 27-July 12</h4>
                <p>
                  We are glad you are here! On this page, you will find instructions
                  for each day as well as starter code, presentations, recordings,
                  and helpful hints. Read over the syllabus below before you get
                  started to get familiar with the flow of the course.
                </p>
                <p>
                  If you need any help, reach out to us through email or send a
                  message on Slack. We offer office hours daily. You can find the
                  times in the syllabus.
                </p>
                <h2
                  class="res_eve_des cc_title"
                >
                  Jump to...
                </h2>

                <ul>
                  <a
                    href="#Syllabus"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong><b class="grey-date"> Syllabus </b></strong></a
                  >
                </ul>
                <ul>
                  <a
                    href="#Daily-Assignments"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong
                      ><b class="grey-date"> Daily Assignments </b></strong
                    ></a
                  >
                </ul>
                <ul>
                  <a
                    href="#Classroom-Resources"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong
                      ><b class="grey-date"> Classroom Resources </b></strong
                    ></a
                  >
                </ul>

                <h2 class="res_eve_des cc_title" id="Syllabus">
                  Syllabus
                </h2>
                <h2 class="res_eve_des cc_title" >
                  Course Outline
                </h2>
                <div class="classroom-description-container">
                  <p>
                    Take your Python knowledge to the next level in Advanced Python.
                    You’ve only scratched the surface of what Python is capable of and
                    it is time to dig deeper. We will delve into more advanced
                    subjects that many Python introduction courses do not get into. We
                    will make games and learn how to automate simple tasks on our
                    computers, just to name a few projects. Join us for this 2-week
                    course to continue your journey with Python.
                  </p>
                </div>
                <p>
                  <strong
                    ><b class="grey-date">
                      In this course, you will learn:</b
                    ></strong
                  >
                </p>
                <ul>
                  <li>Object-orientated Programming</li>
                  <li>Methods</li>
                  <li>Inheritance</li>
                  <li>Composition</li>
                  <li>Modules</li>
                  <li>Packages</li>
                  <li>Libraries</li>
                </ul>
                <h2 class="res_eve_des cc_subtitle">
                  Class Structure
                </h2>
                <p>
                  The class is a mixture of synchronous and asynchronous learning.
                  On Saturday and Sunday, 2-hour live lessons will be held. The
                  lessons are not mandatory and will be recorded, but it is
                  recommended you attend to get the most out of the course. The link
                  to the live lesson will be sent out in an email the day before.
                  During the week, assignments will be uploaded to the website for
                  you to complete. None of the assignments are mandatory, but if you
                  submit all of the assignments, you will receive a certificate of
                  completion at the end of the course.
                </p>
                <h2 class="res_eve_des cc_subtitle">
                  Office Hours
                </h2>
                <p>
                  Office hours will be held daily Monday-Friday for a period of
                  time. They are not mandatory, but if you would like help or
                  feedback, they are a great resource.
                </p>
                <h2 class="res_eve_des cc_subtitle">
                  Submitting Work
                </h2>
                <p>
                  You may submit work through the Google form on the assignment page
                  or email the your work directly to us.
                </p>

                <h2
                  class="res_eve_des cc_title" id="Daily-Assignments">
                  Daily Assignments
                </h2>
                <p>
                  The daily assignment page will be uploaded at 8:00 AM central
                  every morning.
                </p>
                <div class="date-style">
                  <a href="advanced-concepts/live-lesson/june27" class="res_eve_des cc_daily">Saturday June 27</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/live-lesson/june28" class="res_eve_des cc_daily">Sunday June 28</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/june29" class="res_eve_des cc_daily">Monday June 29</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/june30" class="res_eve_des cc_daily">Tuesday June 30</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/live-lesson/july1" class="res_eve_des cc_daily">Wednesday July 1</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july2" class="res_eve_des cc_daily">Thursday July 2</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july3" class="res_eve_des cc_daily">Friday July 3</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july4" class="res_eve_des cc_daily">Saturday July 4</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/live-lesson/july5" class="res_eve_des cc_daily">Sunday July 5</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july6" class="res_eve_des cc_daily">Monday July 6</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july7" class="res_eve_des cc_daily">Tuesday July 7</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july8" class="res_eve_des cc_daily">Wednesday July 8</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/live-lesson/july9" class="res_eve_des cc_daily">Thursday July 9</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july10" class="res_eve_des cc_daily">Friday July 10</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/july11" class="res_eve_des cc_daily">Saturday July 11</a>
                </div>
                <div class="date-style">
                  <a href="advanced-concepts/live-lesson/july12" class="res_eve_des cc_daily">Sunday July 12</a>
                </div>

                <h2
                  class="res_eve_des cc_title"
                  id="Classroom-Resources"
                >
                  Classroom Resources
                </h2>
                <p>
                  Below, you will find links to resources used in the classroom
                  including slide shows, recordings, and general topic sheets.
                </p>
                <ul>
                  <li>
                    <a
                      href="https://docs.google.com/spreadsheets/d/1s1lz49V-mdx-qKi58ImN5rlGYf-CYT-eWoYYekLfT8o/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Project Schedule</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/spreadsheets/d/13h7VWgMSvbgK2ZevxqpAxDXI_WQjtGmj07nuCYWIQqM/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Live Lesson and Office Hour Schedule</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/document/d/1zaByZfEPkFj8Sy-w4-drtWl4zFzJvh-s2uzHBHFwNJ4/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Code of Conduct</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>
        <script src="../../js/faq.js"></script>

    </body>
</html>
