<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <section class="breadcrumb_area br_image">
          <div class="container">
            <div class="page-cover text-center">
              <h2 class="page-cover-tittle">Contact Us</h2>
            </div>
          </div>
        </section>
        
        <section class="event_details_area section_gap">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="contact_info">
                  <div class="info_item">
                    <i class="lnr lnr-envelope"></i>
                    <h5 class="email-style">contact@defineinclude.com</h5>
                    <p>Send us an email if you have any questions</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img
                  src="../image/desktop.png"
                  alt="Laptop Image"
                  class="center-contact contact-image"
                />
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>

    </body>
</html>
