<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <section class="breadcrumb_area br_image">
          <div class="container">
            <div class="page-cover text-center">
              <h2 class="page-cover-tittle">Crash Course on Python</h2>
            </div>
          </div>
        </section>

        <section class="event_details_area section_gap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 event_details">
                <h2 class="res_eve_des welcome-message">
                  Welcome to Crash Course on Python!
                </h2>
                <h4 class="grey-date">June 13-June 21</h4>
                <p>
                  We are glad you are here! On this page, you will find instructions
                  for each day as well as starter code, presentations, recordings,
                  and helpful hints. Read over the syllabus below before you get
                  started to get familiar with the flow of the course.
                </p>
                <p>
                  If you need any help, reach out to us through email or send a
                  message on Slack. We offer office hours daily. You can find the
                  times in the syllabus.
                </p>
                <h2 class="res_eve_des cc_title">Jump to...</h2>

                <ul>
                  <a
                    href="#Syllabus"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong><b class="grey-date"> Syllabus </b></strong></a
                  >
                </ul>
                <ul>
                  <a
                    href="#Daily-Assignments"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong
                      ><b class="grey-date"> Daily Assignments </b></strong
                    ></a
                  >
                </ul>
                <ul>
                  <a
                    href="#Classroom-Resources"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong
                      ><b class="grey-date"> Classroom Resources </b></strong
                    ></a
                  >
                </ul>

                <h2 class="res_eve_des cc_title" id="Syllabus">Syllabus</h2>
                <h2 class="res_eve_des cc_subtitle">Course Outline</h2>
                <div class="classroom-description-container">
                  <p>
                    Python is one of the most popular programming languages today,
                    used by developers, data scientists, and software engineers. Its
                    applications are endless because of Python’s abundant libraries
                    and modules. One of our favorite parts of Python is how simple and
                    approachable the syntax is, making it easier to learn and use.
                    Whether you have never programmed before or are looking to brush
                    up on your skills, this course is a great place to start. Crash
                    Course on Python is a one-week long session designed to teach you
                    the skills you’ll need to start your journey with Python.
                  </p>
                </div>
                <p>
                  <strong
                    ><b class="grey-date">
                      In this course, you will learn:</b
                    ></strong
                  >
                </p>
                <ul>
                  <li>Data types</li>
                  <li>Strings</li>
                  <li>Conditionals</li>
                  <li>Loops</li>
                  <li>Functions</li>
                  <li>Lists</li>
                  <li>Dictionaries</li>
                </ul>
                <h2 class="res_eve_des cc_subtitle">Class Structure</h2>
                <p>
                  The class is a mixture of synchronous and asynchronous learning.
                  On Saturday and Sunday, 2-hour live lessons will be held. The
                  lessons are not mandatory and will be recorded, but it is
                  recommended you attend to get the most out of the course. The link
                  to the live lesson will be sent out in an email the day before.
                  During the week, assignments will be uploaded to the website for
                  you to complete. None of the assignments are mandatory, but if you
                  submit all of the assignments, you will receive a certificate of
                  completion at the end of the course.
                </p>
                <h2 class="res_eve_des cc_subtitle">Office Hours</h2>
                <p>
                  Office hours will be held daily Monday-Friday for a period of
                  time. They are not mandatory, but if you would like help or
                  feedback, they are a great resource. Go to Classroom Resources to
                  find the Zoom links and schedule.
                </p>
                <h2 class="res_eve_des cc_subtitle">Submitting Work</h2>
                <p>
                  You may submit work through the Google form on the assignment page
                  or email the your work directly to us.
                </p>
                <h2 class="res_eve_des cc_subtitle">Slack</h2>
                <p>
                  The purpose of the Slack is to provide technical support
                  during asynchronous learning and connect with other women in
                  computer science.
                </p>
                <h2 class="res_eve_des cc_subtitle">Emails</h2>
                <p>
                  There are many ways to contact def include( ). If you need to
                  contact staff, here are the emails:
                </p>
                <ul>
                  <li>Adison Lampert: adison.lampert@defineinclude.com</li>
                  <li>Instructors: instructors@defineinclude.com</li>
                  <li>Contact: contact@defineinclude.com</li>
                </ul>

                <h2 class="res_eve_des cc_title" id="Daily-Assignments">
                  Daily Assignments
                </h2>
                <p>
                  The daily assignment page will be uploaded at 8:00 AM central
                  every morning.
                </p>
                <div class="date-style">
                  <a href="crash-course/live-lesson/june13" class="res_eve_des cc_daily"
                    >Saturday June 13
                  </a>
                </div>
                <div class="date-style">
                  <a href="crash-course/live-lesson/june14" class="res_eve_des cc_daily">Sunday June 14</a>
                </div>
                <div class="date-style">
                  <a href="crash-course/june15" class="res_eve_des cc_daily">Monday June 15</a>
                </div>
                <div class="date-style">
                  <a href="crash-course/june16" class="res_eve_des cc_daily">Tuesday June 16</a>
                </div>
                <div class="date-style">
                  <a href="crash-course/june17" class="res_eve_des cc_daily"
                    >Wednesday June 17</a
                  >
                </div>
                <div class="date-style">
                  <a href="crash-course/june18" class="res_eve_des cc_daily"
                    >Thursday June 18</a
                  >
                </div>
                <div class="date-style">
                  <a href="crash-course/june19" class="res_eve_des cc_daily">Friday June 19</a>
                </div>
                <div class="date-style">
                  <a href="crash-course/june20" class="res_eve_des cc_daily"
                    >Saturday June 20</a
                  >
                </div>
                <div class="date-style">
                  <a href="crash-course/live-lesson/june21" class="res_eve_des cc_daily">Sunday June 21</a>
                </div>

                <h2 class="res_eve_des cc_title" id="Classroom-Resources">
                  Classroom Resources
                </h2>
                <p>
                  Below, you will find links to resources used in the classroom
                  including slide shows, recordings, and general topic sheets.
                </p>
                <ul>
                  <li>
                    <a
                      href="https://drive.google.com/file/d/1JfoNrIfyhPMGhPrX3peqDCPY7zeznuVt/view?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Schedule</a
                    >
                  <li>
                    <a
                      href="https://drive.google.com/file/d/11phrKXK1QttRMra-n85OyXN7Nw9mw4OJ/view?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Data Types</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.shortcutfoo.com/app/dojos/python-strings/cheatsheet"
                      class="res_eve_des cc_resources"
                      >Strings Cheat Sheet</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/document/d/1zaByZfEPkFj8Sy-w4-drtWl4zFzJvh-s2uzHBHFwNJ4/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Code of Conduct</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>
        <script src="../../js/faq.js"></script>

    </body>
</html>
