<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <!-- content for contact page -->
        <section class="breadcrumb_area br_image">
          <div class="container">
            <div class="page-cover text-center">
              <h2 class="page-cover-tittle">Events</h2>
            </div>
          </div>
        </section>
        <section class="event_details_area section_gap">
          <div class="container">
            <div class="row event_two">
              <div class="col-md-12 event_details">
                <div class="text-center">
                  <h2 class="upcoming-events">Past Events</h2>
                </div>
                <h1 class="event_title event-display">
                  Crash Course on Python
                </h1>
                <ul class="list_style calendar_category event_category smaller-margin-bottom">
                  <li><i class="lnr lnr-calendar-full"></i>June 13-June 21</li>
                  <li><i class="lnr lnr-laptop"></i>Remote</li>
                </ul>
                <h2 class="res_eve_des event-description-header">
                  Description
                </h2>
                <div class="event-container">
                  <p>
                    Python is one of the most popular programming languages today,
                    used by developers, data scientists, and software engineers. Its
                    applications are endless because of Python’s abundant libraries
                    and modules. One of our favorite parts of Python is how simple and
                    approachable the syntax is, making it easier to learn and use.
                    Whether you have never programmed before or are looking to brush
                    up on your skills, this course is a great place to start. Crash
                    Course on Python is a one-week long session designed to teach you
                    the skills you’ll need to start your journey with Python.
                  </p>
                </div>
                <p class="grey-date font-weight-bold">
                  In this course, you will learn:
                </p>
                <div class="smaller-margin-bottom">
                  <ul>
                    <li>Data types</li>
                    <li>Strings</li>
                    <li>Conditionals</li>
                    <li>Loops</li>
                    <li>Functions</li>
                    <li>Lists</li>
                    <li>Dictionaries</li>
                  </ul>
                </div>

                <h1 class="event_title event-display">
                  Advanced Concepts in Python
                </h1>
                <ul class="list_style calendar_category event_category smaller-margin-bottom">
                  <li><i class="lnr lnr-calendar-full"></i>June 27-July 12</li>
                  <li><i class="lnr lnr-laptop"></i>Remote</li>
                </ul>
                <h2 class="res_eve_des event-description-header">
                  Description
                </h2>
                <div class="event-container">
                  <p>
                    Take your Python knowledge to the next level in Advanced Python.
                    You’ve only scratched the surface of what Python is capable of and
                    it is time to dig deeper. We will delve into more advanced
                    subjects that many Python introduction courses do not get into. We
                    will make games and learn how to automate simple tasks on our
                    computers, just to name a few projects. Join us for this 2-week
                    course to continue your journey with Python.
                  </p>
                </div>
                <p class="grey-date font-weight-bold">
                  In this course, you will learn:
                </p>
                <div class="smaller-margin-bottom">
                  <ul>
                    <li>Object-orientated Programming</li>
                    <li>Methods</li>
                    <li>Inheritance</li>
                    <li>Composition</li>
                    <li>Modules</li>
                    <li>Packages</li>
                    <li>Libraries</li>
                  </ul>
                </div>

                <h1 class="event_title event-display">
                  Machine Learning in Python
                </h1>
                <ul class="list_style calendar_category event_category smaller-margin-bottom">
                  <li><i class="lnr lnr-calendar-full"></i>July 25-August 9</li>
                  <li><i class="lnr lnr-laptop"></i>Remote</li>
                </ul>
                <h2 class="res_eve_des event-description-header">
                  Description
                </h2>
                <div class="event-container">
                  <p>
                    How does Netflix know exactly what to recommend for you to watch?
                    Is it possible for cars to drive themselves? Can Instagram train
                    machines to recognize cyberbullying and delete offensive comments?
                    These are all answers we will address in Machine Learning in
                    Python. The course is designed to be an introduction to the
                    fascinating field of ML using the skills we acquired in previous
                    sessions. You will learn about what machine learning is, does, and
                    how you can do it too. Join us for this two-week introductory
                    course on machine learning.
                  </p>
                </div>
                <p class="grey-date font-weight-bold">
                  In this course, you will learn:
                </p>
                <div class="smaller-margin-bottom">
                  <ul>
                    <li>Intro to Machine Learning</li>
                    <li>Exploring datasets in Python</li>
                    <li>Use ML to find patterns/solve problems</li>
                    <li>Supervised Learning</li>
                    <li>Unsupervised Learning</li>
                    <li>Real-World Applications</li>
                  </ul>
              </div>

              <h1 class="event_title event-display">
                Web Development
              </h1>
              <ul class="list_style calendar_category event_category smaller-margin-bottom">
                <li><i class="lnr lnr-calendar-full"></i>September 5-November 14</li>
                <li><i class="lnr lnr-laptop"></i>Remote</li>
              </ul>
              <h2 class="res_eve_des event-description-header">
                Description
              </h2>
              <div class="event-container">
                <p>
                  You use websites every day for activities like accessing your school
                  assignments and posting on social media, but what exactly is a website
                  and how are they created? Web development is a versatile skill that
                  gives creators the opportunity to express themselves creatively through
                  code. Almost every interest has an application in web development.
                  Whether you’re interested in entrepreneurship, activism, or anything
                  in between, there is a place for you in web development. Join us for
                  this 2.5 month class to learn the web development skills you’ll need
                  to put your big idea into motion. Live classes will be held on Saturday
                  mornings for 1.5 hours and one project will be assigned a week that
                  should take no longer than 30 minutes a day to complete.
                </p>
              </div>
              <p class="grey-date font-weight-bold">
                In this course, you will learn:
              </p>
              <div class="large-margin-bottom">
                <ul>
                  <li>HTML and CSS</li>
                  <li>Javascript</li>
                  <li>JQuery</li>
                  <li>Libraries and Frameworks</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>

    </body>
</html>
