<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <!-- content for contact page -->
        <section class="breadcrumb_area br_image">
          <div class="container">
            <div class="page-cover text-center">
              <h2 class="page-cover-tittle">FAQ</h2>
            </div>
          </div>
        </section>
        <section class="event_blog_area section_gap">
          <div class="container">
            <div>
              <p></p>
            </div>
            <div id="faq-container">
              <div id="header">
                <h3 class="faqq">How does the program work?</h3>
                <div class="question">
                  <p class="faqp">
                    Each course will contain a mixture of synchronous and
                    asynchronous classes. There will be a 1.5-hour live lesson on
                    Saturday and then weekly assignments. The assignment details will
                     be posted on the website and office hours will be provided
                    during the week to provide support. Instructors will also be
                    accessible by Slack or email. Students will turn in the projects
                    online and receive individual feedback from the instructors.
                  </p>
                </div>
                <h3 class="faqq">
                  Is this program only for girls with experience programming?
                </h3>
                <div class="question">
                  <p class="faqp">
                    No. Although the goal of this program is to provide support
                    above the beginner level, every session has multiple options for
                    different skill levels so we are beginner friendly! If you have
                    any concerns about whether you are right for the program, send
                    us an email.
                  </p>
                </div>
                <h3 class="faqq">What does the program cost?</h3>
                <div class="question">
                  <p class="faqp">The program is 100% free.</p>
                </div>
                <h3 class="faqq">What is the time commitment?</h3>
                <div class="question">
                  <p class="faqp">
                    We estimate that the time commitment will be 4 hours a week. The live
                    lesson on Saturday will be one and a half hours. The weekly projects
                    should take lesson than 2.5 hours (roughly 30 minutes a day).
                  </p>
                </div>
                <h3 class="faqq">
                  Is this program only for middle school and high school girls?
                </h3>
                <div class="question">
                  <p class="faqp">
                    No. If you are interested in participating but not in middle
                    school or high school, just send us an email to let us know.
                    Everyone is welcome to join!
                  </p>
                </div>
                <h3 class="faqq">Do I need to have my own laptop?</h3>
                <div class="question">
                  <p class="faqp">
                    You must have a laptop or Chromebook to participate in our program.
                  </p>
                </div>
                <h3 class="faqq">Do I have to go to every live lesson?</h3>
                <div class="question">
                  <p class="faqp">
                    No. We understand that there are days when attending the live lesson
                    is difficult. We do ask that you attend every live lesson you can. All
                    of our live lessons are recorded and posted to the website later that day.
                  </p>
                </div>
                <h3 class="faqq">How can I improve my skills?</h3>
                <div class="question">
                  <p class="faqp">
                    Check out our resources page to find our favorite websites and
                    free courses on a variety of different CS-related skills.
                  </p>
                </div>
                <h3 class="faqq">
                  Why are the classroom pages password-protected?
                </h3>
                <div class="question">
                  <p class="faqp">
                    We will be posting links to Zoom meetings and our Slack on the
                    class pages so to keep our students safe and our links secure,
                    we decided to lock the class pages. Usernames and passwords will
                    be sent to students that have signed up through email. After the
                    class is done, we intend to remove the links and unlock the
                    pages for public use.
                  </p>
                </div>
                <h3 class="faqq">
                  If I’m a high school girl and I’m passionate about computer
                  science, can I help out with the sessions?
                </h3>
                <div class="question">
                  <p class="faqp">
                    Yes! We’d love to have more members on our team. If you are
                    interested in volunteering with us, send us an email!
                  </p>
                </div>

                <div>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>
        <script src="../../js/faq.js"></script>

    </body>
</html>
