<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <section class="event_details_area section_gap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 event_details">
                <h2 class="res_eve_des welcome-message">
                  Welcome to Machine Learning in Python!
                </h2>
                <h4 class="grey-date">July 25-August 9</h4>
                <p>
                  We are glad you are here! On this page, you will find instructions
                  for each day as well as starter code, presentations, recordings,
                  and helpful hints. Read over the syllabus below before you get
                  started to get familiar with the flow of the course.
                </p>
                <p>
                  If you need any help, reach out to us through email or send a
                  message on Slack. We offer office hours daily. You can find the
                  times in the syllabus.
                </p>
                <h2
                  class="res_eve_des cc_title"
                >
                  Jump to...
                </h2>

                <ul>
                  <a
                    href="#Syllabus"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong><b class="grey-date"> Syllabus </b></strong></a
                  >
                </ul>
                <ul>
                  <a
                    href="#Daily-Assignments"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong
                      ><b class="grey-date"> Daily Assignments </b></strong
                    ></a
                  >
                </ul>
                <ul>
                  <a
                    href="#Classroom-Resources"
                    class="res_eve_des no-text-deco"
                    data-uk-smooth-scroll="{offset: 125}"
                    ><strong
                      ><b class="grey-date"> Classroom Resources </b></strong
                    ></a
                  >
                </ul>

                <h2 class="res_eve_des cc_title" id="Syllabus">
                  Syllabus
                </h2>
                <h2 class="res_eve_des cc_title" >
                  Course Outline
                </h2>
                <div class="classroom-description-container">
                  <p>
                    How does Netflix know exactly what to recommend for you to watch?
                    Is it possible for cars to drive themselves? Can Instagram train
                    machines to recognize cyberbullying and delete offensive comments?
                    These are all answers we will address in Machine Learning in
                    Python. The course is designed to be an introduction to the
                    fascinating field of ML using the skills we acquired in previous
                    sessions. You will learn about what machine learning is, does, and
                    how you can do it too. Join us for this two-week introductory
                    course on machine learning.
                  </p>
                </div>
                <p>
                  <strong
                    ><b class="grey-date">
                      In this course, you will learn:</b
                    ></strong
                  >
                </p>
                <ul>
                  <li>Intro to Machine Learning</li>
                  <li>Exploring datasets in Python</li>
                  <li>Use ML to find patterns/solve problems</li>
                  <li>Supervised Learning</li>
                  <li>Unsupervised Learning</li>
                  <li>Real-World Applications</li>
                </ul>
                <h2 class="res_eve_des cc_subtitle">
                  Class Structure
                </h2>
                <p>
                  The class is a mixture of synchronous and asynchronous learning. The
                  lessons are not mandatory and will be recorded, but it is
                  recommended you attend to get the most out of the course. The link
                  to the live lesson will be sent out in an email the day before.
                  During the week, assignments will be uploaded to the website for
                  you to complete. None of the assignments are mandatory, but if you
                  submit all of the assignments, you will receive a certificate of
                  completion at the end of the course.
                </p>
                <h2 class="res_eve_des cc_subtitle">
                  Office Hours
                </h2>
                <p>
                  Office hours will be held daily Monday-Sunday for a period of
                  time. They are not mandatory, but if you would like help or
                  feedback, they are a great resource.
                </p>
                <h2 class="res_eve_des cc_subtitle">
                  Submitting Work
                </h2>
                <p>
                  You may submit work through the Google form on the assignment page
                  or email the your work directly to us.
                </p>

                <h2
                  class="res_eve_des cc_title" id="Daily-Assignments">
                  Daily Assignments
                </h2>
                <p>
                  The daily assignment page will be uploaded at 8:00 AM central
                  every morning.
                </p>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/july25" class="res_eve_des cc_daily">Saturday July 25</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/july26" class="res_eve_des cc_daily">Sunday July 26</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/july27" class="res_eve_des cc_daily">Monday July 27</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/july28" class="res_eve_des cc_daily">Tuesday July 28</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/july29" class="res_eve_des cc_daily">Wednesday July 29</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/july30" class="res_eve_des cc_daily">Thursday July 30</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/july31" class="res_eve_des cc_daily">Friday July 31</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/august1" class="res_eve_des cc_daily">Saturday August 1</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/august2" class="res_eve_des cc_daily">Sunday August 2</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/august3" class="res_eve_des cc_daily">Monday August 3</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/august4" class="res_eve_des cc_daily">Tuesday August 4</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/august5" class="res_eve_des cc_daily">Wednesday August 5</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/august6" class="res_eve_des cc_daily">Thursday August 6</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/august7" class="res_eve_des cc_daily">Friday August 7</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/august8" class="res_eve_des cc_daily">Saturday August 8</a>
                </div>
                <div class="date-style">
                  <a href="machine-learning/live-lesson/august9" class="res_eve_des cc_daily">Sunday August 9</a>
                </div>

                <h2
                  class="res_eve_des cc_title"
                  id="Classroom-Resources"
                >
                  Classroom Resources
                </h2>
                <p>
                  Below, you will find links to resources used in the classroom
                  including slide shows, recordings, and general topic sheets.
                </p>
                <ul>
                  <li>
                    <a
                      href="https://docs.google.com/spreadsheets/d/1wFkvP9nhsbzG2rBsxp9kUnv1Sydc1EvDRMH2woyvoP8/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Project Schedule</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/spreadsheets/d/1cZfTYTT3YaJfQTEg7MWpFS27HcQEdrQ9zNeDQfGKWDI/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Live Lesson and Office Hour Schedule</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/document/d/1zaByZfEPkFj8Sy-w4-drtWl4zFzJvh-s2uzHBHFwNJ4/edit?usp=sharing"
                      class="res_eve_des cc_resources"
                      >Code of Conduct</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>
        <script src="../../js/faq.js"></script>

    </body>
</html>
