<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <section class="breadcrumb_area br_image">
          <div class="container">
            <div class="page-cover text-center">
              <h2 class="page-cover-tittle">Partners</h2>
            </div>
          </div>
        </section>

        <section class="contact_area section_gap">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <a href="https://austin.chicktech.org/"
                  ><img
                    src="image/chicktech.jpg"
                    alt="ChickTech Logo"
                    class="center-contact"
                /></a>
              </div>
              <div class="col-md-6">
                <div class="contact_info">
                  <div class="info_item">
                    <a href="https://austin.chicktech.org/"
                      ><h2 class="index_title">ChickTech Austin</h2>
                    </a>
                    <p>
                      ChickTech is dedicated to retaining women in the technology
                      workforce and increasing the number of women and girls
                      pursuing technology-based careers.
                    </p>
                    <p class="contactName">
                      Lead Student Ambassador:
                    </p>
                    <p>Shruthi Aravindan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>

    </body>
</html>
